---
import "../styles/global.css";
import Carousel from '@/components/Carousel.tsx';
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '@/assets/importho.png';
import FeaturedProducts from '@/components/featured-products.astro';
import { getCollection } from "astro:content";

const courses_collection = await getCollection("courses");

const courses = courses_collection.map(({ data: { title, img, description }, slug }) => ({
  title,
  slug: `/courses/${slug}`,
	img,
}));

---

<Layout>
	<section class="flex justify-center pb-24 md:pb-32 pt-8">
		<Image 
				src={logo} 
				alt="Importho Logo"
				class="w-10/12 md:w-[50rem] h-auto" 
				draggable="false"
			/>
	</section>

	<Carousel client:load courses={courses} />

	<FeaturedProducts />
</Layout>
