---
import Layout from "@/layouts/Layout2.astro";
import { Image } from "astro:assets";

import mouthwash_1 from "@/assets/mouthwashers/mouthwasher-1.jpg";
import mouthwash_2 from "@/assets/mouthwashers/mouthwasher-2.png";
import mouthwash_3 from "@/assets/mouthwashers/mouthwasher-3.jpg";

const mouthwashes = [
  mouthwash_1,
  mouthwash_2,
  mouthwash_3,
]

---
<Layout>
  <article class="flex flex-col h-full w-10/12 mx-auto my-auto gap-8 mt-4 md:mt-auto md:gap-16 pb-12 md:pb-24">
    <h1 class="text-4xl text-center font-bold text-primary">Enjuagues dentales</h1>
    <ul class="flex flex-col gap-8 w-full">
  {
    mouthwashes.map((mouthwash, i) => (
      <Image
        src={mouthwash}
        alt={`mouthwash-${i + 1}`}
        width={288}
        height={288}
        class="w-full h-auto" draggable="false"
      />
    ))
  }
</ul>
</Layout>
