---
import { Navigation } from '@/components/navigation.tsx';
import { Search } from '@/components/search.tsx';
import { getCollection } from "astro:content";

const courses_collection = await getCollection("courses");
const courses = courses_collection.map((course) => ({
  title: course.data.title,
  slug: `/courses/${course.slug}`,
}));

---

<header class="bg-white  p-6 w-full">
  <div class="mx-auto flex justify-between items-center">
    <Navigation client:load courses={courses} />
    <Search client:load />
  </div>
</header>